.test {
  border: 1px solid red;
  display: flex;
}

.arrow {
  cursor: pointer;
}

.cn1 {
  color: blue;
}

.cn2 {
  font-size: 24px;
}

.test3 {
  background-color: red;
}

.img {
  width: 200px;
  height: 200px;
  background-image: url(../../logo.png);
}
